# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.swp
*.c
*.h
*#*#
*#*
.deps
*.lo
*.la
*.stamp
*.bak
.libs
*orig
debian/files
debian/deb-patch.patch
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/vtg.debhelper.log
debian/vtg.substvars
debian/vtg
vsc/*.gir
vtg-*.cdbs-config_list
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
stamp-h1
tests/test-2
vsc-shell/vsc-shell
gen-project/vala-gen-project
tests/
vtg-*.tar.bz2
vtg-*.tar.gz
vbf/vbftest
vbf/am/.dirstamp
afrodite/afrodite-1.0.vapi
afrodite/afrodite-1.0.gidl
gen-project/templates/*.tar.gz
gen-project/libgen-project/gen-project-1.0.vapi
gsc-0.7.0/po/*
