NULL = 

AM_CPPFLAGS = \
	$(${project-uppercase-make-name}_CFLAGS) \
	-include $(CONFIG_HEADER) \
	$(NULL)

bin_PROGRAMS = ${project-make-name}

${project-make-name}_SOURCES = \
	main.vala \
	$(NULL)

${project-make-name}_LDADD = \
	$(${project-uppercase-make-name}_LIBS) \
	$(NULL)

EXTRA_DIST = \
	$(NULL)

DISTCLEANFILES = \
	$(NULL)

