Source: vtg-plugin
Section: gnome
Priority: optional
Maintainer: Andrea Del Signore <sejerpz@tin.it>
Build-Depends: cdbs,
               libbonobo2-dev (>= 2.16),
               libbonoboui2-dev (>= 2.16),
               debhelper (>= 5),
               gconf2,
               libglib2.0-dev (>= 2.8.0),
               libgtk2.0-dev (>= 2.8.0),
               libgtksourceview2.0-dev (>= 2.0.0),
               gedit-dev (>= 2.20.0),
               gnome-doc-utils (>= 0.3.2),
               gnome-pkg-tools (>= 0.11),
               intltool (>= 0.35)
Standards-Version: 3.7.3

Package: vtg-plugin
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gedit (>= 2.20.0),
Description: vala development plugin for gedit
 Vala developer toys contains a plugin to help the develpment of a vala program in gedit.
 .
 The following modules are included:
  * Bracket Completion: Automatically adds closing brackets.
  * Symbol Completion: Automatically complete source code.
  * Project Manager: A simple project manager base on autotools
 
